.left {
  background: $dark-blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    width: 17.5rem;
    height: 12rem;
    background: url(../img/sun_cloud-rain.png) no-repeat;
    background-size: cover;
    display: flex;
    align-content: center;
    align-items: center;
    margin: 10rem auto 7rem;
    z-index: 1000;
  }

  &__heading {
    text-align: center;
    margin: -15rem auto 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__input {
    padding: 0.8rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    font-size: 1.4rem;
  }

  &__warning {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: $color-text;
  }

  &__button {
    padding: 0.8rem 1.6rem;
    margin: 2rem auto;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: $dark-blue;
    color: $color-text;
    letter-spacing: 0.1rem;
  }
  button:hover {
    color: $dark-blue;
    background-color: $color-text;
  }

  @include respond(phone) {
    height: 30vh;

    &__logo {
      width: 8rem;
      height: 4rem;
      background-size: 0;
      margin: 12rem auto 0;
    }
  }
}
